* {
  box-sizing: border-box;
}

html {
  font-size: $fontSize;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-theme-light {
  background-color: #edf1f5;
}
