:root {
    --hero-bg-light-1: linear-gradient(0deg, #fff 1.39%, #4feaff);
    --hero-bg-light-2: linear-gradient(0deg, #fff, #00ff94);
    --hero-bg-light-3: linear-gradient(0deg, #fff, #fff);
    --hero-bg-light-4: linear-gradient(0deg, #dbdbdb, #000aff);
    --hero-bg-light-mix-mode: multiply;
    --hero-box-bg: linear-gradient(116.22deg, #fff 33.5%, hsla(0, 0%, 100%, .58) 99.16%);
}

.gradient-title {
    background-image: linear-gradient(112.31deg, #00e08f 19.49%, #00a3ff 98.51%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 100% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
